<% layout("/layouts/boilerplate.ejs")%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br>
            <h3>Edit listing:</h3>
            <br><br>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="title" value="<%=listing.title%>" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" class="form-control" required><%=listing.description%></textarea>
                </div>


                <div class="mb-3">
                    <p>Original Listng Image:</p> 
                    <img src="<%=originalImageUrl%>" class="card-img-top show-img"/>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label>
                    <input type="file" name="image[url]" class="form-control" >
                </div>


                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" name="price" class="form-control" value="<%=listing.price%>" required>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="country" class="form-control" value="<%=listing.country%>" required>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="location" class="form-control" value="<%=listing.location%>" required>
                </div>

                <br>
                <button type="submit" class="btn btn-dark add-btn mt-3">Save Changes</button>
                <br><br>
            </form>
            <br><br>
        </div>
    </div>
    <script src="/js/script.js"></script>